/vendor
/node_modules

# Laravel specific
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Laravel environment files
.env
.env.backup
.env.*.backup
.env.testing

# Cache & compiled
.phpunit.result.cache
bootstrap/cache/*.php

# OS/IDE/editor
.DS_Store
Thumbs.db
*.log
*.swp
*.swo

# Composer & NPM artifacts
composer.lock
package-lock.json
yarn.lock
npm-debug.log
pnpm-lock.yaml

# Laravel Sail / Docker
docker-compose.override.yml

# IDE/tools (opsional, tergantung editor yang kamu pakai)
.vscode/
.idea/
